@model PlayerServiceModel
@inject IPlayerService playerService

<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 d-flex">
    <div class="card w-100 align-items-center border-dark">
        <img class="card-img-top w-75 h-75 mt-3" src="~/img/players/@Model.ImageUrl" alt="Player Image" />

        <div class="card-body text-center">
            <h4>@Model.FirstName @Model.LastName</h4>
            <h6>Age: <b>@Model.Age</b></h6>
            <h6>Team: <b>@Model.TeamName</b></h6>
            @if (this.User?.Identity?.IsAuthenticated ?? false)
            {
                if (User.IsAdmin())
                {
                    <a asp-area="Admin" asp-controller="Player" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                    if(await playerService.ExistsAsync(Model.Id))
                    {
                        <a asp-area="Admin" asp-controller="Player" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                    }
                    else
                    {
                        <a asp-area="Admin" asp-controller="Player" asp-action="Return" asp-route-id="@Model.Id" class="btn btn-danger">Return</a>
                    }
                }
            }
        </div>
    </div>
</div>


