@model OrderServiceModel
@{
    ViewBag.Title = "Order Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="row">
    <div class="col-12">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                    <partial name="_OrderProductPartial" model="@product" />
            }
        </div>
    </div>
    <div class="col-12">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2 col-lg-6 offset-lg-3 d-flex align-items-stretch">
            <div class="card w-100 align-items-center border-dark d-flex flex-column justify-content-between">
                <div class="card-body text-center align-items-end">
                    <h4>Order Id: <b>@Model.Id</b></h4>
                    <h4>User Name: <b>@Model.UserFullName</b></h4>
                    <h4>Payment method: <b>@Model.PaymentMethod.ToString()</b></h4>
                    <h4>Products count: <b>@Model.ProductsCount</b></h4>
                    <h4>City: <b>@Model.City</b></h4>
                    <h4>Street etc.: <b>@Model.StreetEtc</b></h4>
                    <h4>Total Price: <b>@String.Format("{0:f2}", Model.TotalPrice) BGN</b></h4>
                </div>
            </div>
        </div>
    </div>
</div>

